html {
    background-color: rgb(206, 40, 95);
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #8a65bb;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
h1 {
    text-align: center;
    color: black;
    font-size: 120%;
}